html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 6em;
}

.footer {
    position: absolute;
    font-size: 0.8em;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3em;
    text-align: center;
}

.footer a {
    color: inherit;
    text-decoration: none;
    margin: 0 0.5em;
}

#content {
    margin: 2em;
}