<footer class="footer">
    <div class="container">
        {{ range .Site.Menus.footer }}
        {{ if or (not ($.Page.IsMenuCurrent "footer" .)) (not $.Page.IsHome) }}
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
        {{ end }}
    </div>
</footer>
