<!DOCTYPE HTML>
{{if .Site.Language}}<html lang="{{.Site.Language}}">{{else}}<html lang="en">{{end}}
{{ partial "head" . }}<body>
{{ partial "header" . }}
{{ partial "body" . }}
{{ partial "footer" . }}</body>
</html>
